.view_profile{
   background-color: white;
   color: $our-black;

   .header{
      background-color: $primary-color;
      color: white;
      padding: 15px;
      text-align: center;
   }

   .header_name{
      font-size: 1.2em;
   }
   
   .view_main{
      width: 85%;
      padding: 0;
   }
}

.profile_info{
   border: solid 1px $our-black;
   border-radius: 8px;
   padding: 15px 25px;

   h3{
      text-align: center;
      font-weight: 500;
      margin-bottom: 30px;
   }

   .input{
      height: 30px;
      border-radius: 0;
      padding-left: 20px;
      border-bottom: solid 1px $our-black;
      margin-top: 0;
      color: $our-black;
      font-size: .9em;
      outline: none;

      &:focus{
         border-bottom: 2px solid $accent-color;
         background-color: #ececec;
      }
   }
   .info_extra{
      padding: 8px;
      height: 80px;
   }
}

.profile_controls{
   margin-top: 20px;
   text-align: right;
}
.profile_btn{
   background-color: $accent-color;
   border-radius: 7px;
   border: solid 1px rgba(0, 0, 0, 0.247);
   padding: 2px 5px;
   color: white;
   font: inherit;
   font-size: .9em;
}